### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load 
school_data = "Resources/schools_complete.csv"
student_data = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data)
student_data = pd.read_csv(student_data)

# Combine the data into a single dataset.  
combined_data = pd.merge(student_data, school_data, how="left", on=["school_name"])
combined_data

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [ ]:
#Calculate total number of unique schools
Total_Schools = len(combined_data.school_name.unique())
#Calculate total number of students
Total_Students = combined_data.student_name.count()
#Calculate total budget
Unique_Budget = combined_data.budget.unique()
Total_Budget = Unique_Budget.sum()
#Calculate the average math score
Average_Math = combined_data.math_score.mean()
#Calculate the average reading score
Average_Reading = combined_data.reading_score.mean()
#Calculate the %tage of students w/ a passing math score
Passing_Math_df = combined_data.loc[combined_data["math_score"] >= 70]
Passing_Math_Percent = (Passing_Math_df.math_score.count()/Total_Students)*100
#Calculate the %tage of students w/ a passing reading score
Passing_Reading_df = combined_data.loc[combined_data["reading_score"] >= 70]
Passing_Reading_Percent = (Passing_Reading_df.reading_score.count()/Total_Students)*100
#Calculate the %tage of students who passed both math and reading
Passing_Both_df = combined_data.loc[(combined_data["reading_score"] >= 70) & (combined_data["math_score"] >= 70)]
Passing_Both_Percent = (Passing_Both_df.reading_score.count()/Total_Students)*100

#Dataframe for results
District_Summary_DF = pd.DataFrame({"Total_Schools":Total_Schools, "Total_Students":Total_Students, 
                                 "Total_Budget":Total_Budget, "Average_Math":Average_Math, 
                                 "Average_Reading":Average_Reading,"Passing_Math_Percentage":Passing_Math_Percent, 
                                 "Passing_Reading_Percentage":Passing_Reading_Percent,
                                 "Passing_Both_Percentage":Passing_Both_Percent}, index=[0]) 
#Formatting results
District_Summary_DF["Total_Students"] = District_Summary_DF["Total_Students"].map("{:,}".format)
District_Summary_DF["Total_Budget"] = District_Summary_DF["Total_Budget"].map("${:,}".format)
District_Summary_DF["Average_Math"] = District_Summary_DF["Average_Math"].map("{:.2f}".format)
District_Summary_DF["Average_Reading"] = District_Summary_DF["Average_Reading"].map("{:.2f}".format)
District_Summary_DF["Passing_Math_Percentage"] = District_Summary_DF["Passing_Math_Percentage"].map("{:.2f}%".format)
District_Summary_DF["Passing_Reading_Percentage"] = District_Summary_DF["Passing_Reading_Percentage"].map("{:.2f}%".format)
District_Summary_DF["Passing_Both_Percentage"] = District_Summary_DF["Passing_Both_Percentage"].map("{:.2f}%".format)
District_Summary_DF

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [84]:
#Group data by school name
Grouped_SN = combined_data.groupby("school_name")

#Retrieve the type of each school
School_Type= Grouped_SN.type.unique()

#Retrieve total budget for each school
Total_Budget = Grouped_SN.budget.sum()/Grouped_SN.budget.count()

#Retrieve total number of students in each school
Total_Students = Grouped_SN.student_name.count()

#Calculate budget per student
PSB = Total_Budget/Total_Students

#Average math score
Average_Math_Score = Grouped_SN.math_score.sum()/Total_Students

#Average reading score
Average_Reading_Score = Grouped_SN.reading_score.sum()/Total_Students

#Passing math score
passing_data = combined_data.loc[(combined_data["math_score"] >=70)]
passing_data = passing_data.groupby("school_name")
Passing_Math_Percent = (passing_data.math_score.count()/Total_Students) * 100

#Passing reading score
passing_data2 = combined_data.loc[combined_data["reading_score"] >=70]
passing_data2 = passing_data2.groupby("school_name")
Passing_Reading_Percent = (passing_data2.reading_score.count()/Total_Students) * 100

#Passing both score
passing_data3 = combined_data.loc[(combined_data["math_score"] >=70) & (combined_data["reading_score"] >=70)]
passing_data3 = passing_data3.groupby("school_name")
Passing_Both_Percent = (passing_data3.math_score.count()/Total_Students) * 100

#Dataframe for results
School_Summary_DF = pd.DataFrame({"Total_Students":Total_Students, "Type":School_type,
                                 "Total_Budget":Total_Budget,"Average_Math":Average_Math_Score, 
                                 "Average_Reading":Average_Reading_Score,"Passing_Math_Percentage":Passing_Math_Percent, 
                                 "Passing_Reading_Percentage":Passing_Reading_Percent,
                                 "Passing_Both_Percentage":Passing_Both_Percent}) 
#Formatting results
School_Summary_DF["Total_Students"] = School_Summary_DF["Total_Students"].map("{:,}".format)
School_Summary_DF["Total_Budget"] = School_Summary_DF["Total_Budget"].map("${:,}".format)
School_Summary_DF["Average_Math"] = School_Summary_DF["Average_Math"].map("{:.2f}".format)
School_Summary_DF["Average_Reading"] = School_Summary_DF["Average_Reading"].map("{:.2f}".format)
School_Summary_DF["Passing_Math_Percentage"] = School_Summary_DF["Passing_Math_Percentage"].map("{:.2f}%".format)
School_Summary_DF["Passing_Reading_Percentage"] = School_Summary_DF["Passing_Reading_Percentage"].map("{:.2f}%".format)
School_Summary_DF["Passing_Both_Percentage"] = School_Summary_DF["Passing_Both_Percentage"].map("{:.2f}%".format)
School_Summary_DF

,Total_Students,Type,Total_Budget,Average_Math,Average_Reading,Passing_Math_Percentage,Passing_Reading_Percentage,Passing_Both_Percentage
school_name,,,,,,,,
Bailey High School,"4,976",[District],"$3,124,928.0",77.05,81.03,66.68%,81.93%,54.64%
Cabrera High School,"1,858",[Charter],"$1,081,356.0",83.06,83.98,94.13%,97.04%,91.33%
Figueroa High School,"2,949",[District],"$1,884,411.0",76.71,81.16,65.99%,80.74%,53.20%
Ford High School,"2,739",[District],"$1,763,916.0",77.10,80.75,68.31%,79.30%,54.29%
Griffin High School,"1,468",[Charter],"$917,500.0",83.35,83.82,93.39%,97.14%,90.60%
Hernandez High School,"4,635",[District],"$3,022,020.0",77.29,80.93,66.75%,80.86%,53.53%
Holden High School,427,[Charter],"$248,087.0",83.80,83.81,92.51%,96.25%,89.23%
Huang High School,"2,917",[District],"$1,910,635.0",76.63,81.18,65.68%,81.32%,53.51%
Johnson High School,"4,761",[District],"$3,094,650.0",77.07,80.97,66.06%,81.22%,53.54%
Pena High School,962,[Charter],"$585,858.0",83.84,84.04,94.59%,95.95%,90.54%
Rodriguez High School,"3,999",[District],"$2,547,363.0",76.84,80.74,66.37%,80.22%,52.99%
Shelton High School,"1,761",[Charter],"$1,056,600.0",83.36,83.73,93.87%,95.85%,89.89%
Thomas High School,"1,635",[Charter],"$1,043,130.0",83.42,83.85,93.27%,97.31%,90.95%
Wilson High School,"2,283",[Charter],"$1,319,574.0",83.27,83.99,93.87%,96.54%,90.58%
Wright High School,"1,800",[Charter],"$1,049,400.0",83.68,83.95,93.33%,96.61%,90.33%

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [87]:
Top_Performing_School = School_Summary_DF.sort_values("Passing_Both_Percentage", ascending=False)
Top_Performing_School.head()

,Total_Students,Type,Total_Budget,Average_Math,Average_Reading,Passing_Math_Percentage,Passing_Reading_Percentage,Passing_Both_Percentage
school_name,,,,,,,,
Cabrera High School,"1,858",[Charter],"$1,081,356.0",83.06,83.98,94.13%,97.04%,91.33%
Thomas High School,"1,635",[Charter],"$1,043,130.0",83.42,83.85,93.27%,97.31%,90.95%
Griffin High School,"1,468",[Charter],"$917,500.0",83.35,83.82,93.39%,97.14%,90.60%
Wilson High School,"2,283",[Charter],"$1,319,574.0",83.27,83.99,93.87%,96.54%,90.58%
Pena High School,962,[Charter],"$585,858.0",83.84,84.04,94.59%,95.95%,90.54%

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [88]:
Bottom_Performing_School = School_Summary_DF.sort_values("Passing_Both_Percentage", ascending=True)
Bottom_Performing_School.head()

,Total_Students,Type,Total_Budget,Average_Math,Average_Reading,Passing_Math_Percentage,Passing_Reading_Percentage,Passing_Both_Percentage
school_name,,,,,,,,
Rodriguez High School,"3,999",[District],"$2,547,363.0",76.84,80.74,66.37%,80.22%,52.99%
Figueroa High School,"2,949",[District],"$1,884,411.0",76.71,81.16,65.99%,80.74%,53.20%
Huang High School,"2,917",[District],"$1,910,635.0",76.63,81.18,65.68%,81.32%,53.51%
Hernandez High School,"4,635",[District],"$3,022,020.0",77.29,80.93,66.75%,80.86%,53.53%
Johnson High School,"4,761",[District],"$3,094,650.0",77.07,80.97,66.06%,81.22%,53.54%

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type