### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [8]:
# Dependencies and Setup
import pandas as pd

# File to Load 
school_data = "Resources/schools_complete.csv"
student_data = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data)
student_data = pd.read_csv(student_data)

# Combine the data into a single dataset.  
combined_data = pd.merge(student_data, school_data, how="left", on=["school_name"])
combined_data = combined_data.rename(columns={"school_name":"School_Name"})
#combined_data

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [19]:
#Calculate total number of unique schools
Total_Schools = len(combined_data.School_Name.unique())

#Calculate total number of students
Total_Students = combined_data.student_name.count()

#Calculate total budget
Unique_Budget = combined_data.budget.unique()
Total_Budget = Unique_Budget.sum()

#Calculate the average math score
Average_Math = combined_data.math_score.mean()

#Calculate the average reading score
Average_Reading = combined_data.reading_score.mean()

#Calculate the %tage of students w/ a passing math score
Passing_Math_df = combined_data.loc[combined_data["math_score"] >= 70]
Passing_Math_Percent = (Passing_Math_df.math_score.count()/Total_Students)*100

#Calculate the %tage of students w/ a passing reading score
Passing_Reading_df = combined_data.loc[combined_data["reading_score"] >= 70]
Passing_Reading_Percent = (Passing_Reading_df.reading_score.count()/Total_Students)*100

#Calculate the %tage of students who passed both math and reading
Passing_Both_df = combined_data.loc[(combined_data["reading_score"] >= 70) & (combined_data["math_score"] >= 70)]
Passing_Both_Percent = (Passing_Both_df.reading_score.count()/Total_Students)*100

#Dataframe for results
District_Summary_DF = pd.DataFrame({"Total Schools":Total_Schools, "Total Students":Total_Students, 
                                 "Total Budget":Total_Budget, "Average Math Score":Average_Math, 
                                 "Average Reading Score":Average_Reading,"% Passing Math":Passing_Math_Percent, 
                                 "% Passing Reading":Passing_Reading_Percent,
                                 "% Overall Passing Rate":Passing_Both_Percent}, index=[0]) 
#Formatting results
District_Summary_DF["Total Students"] = District_Summary_DF["Total Students"].map("{:,}".format)
District_Summary_DF["Total Budget"] = District_Summary_DF["Total Budget"].map("${:,}".format)
District_Summary_DF["Average Math Score"] = District_Summary_DF["Average Math Score"].map("{:.2f}".format)
District_Summary_DF["Average Reading Score"] = District_Summary_DF["Average Reading Score"].map("{:.2f}".format)
District_Summary_DF["% Passing Math"] = District_Summary_DF["% Passing Math"].map("{:.2f}%".format)
District_Summary_DF["% Passing Reading"] = District_Summary_DF["% Passing Reading"].map("{:.2f}%".format)
District_Summary_DF["% Overall Passing Rate"] = District_Summary_DF["% Overall Passing Rate"].map("{:.2f}%".format)

District_Summary_DF

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428",78.99,81.88,74.98%,85.81%,65.17%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [20]:
#Group data by school name
Grouped_SN = combined_data.groupby("School_Name")

#Retrieve the type of each school
School_Type= Grouped_SN.type.unique()

#Retrieve total budget for each school
Total_Budget = Grouped_SN.budget.sum()/Grouped_SN.budget.count()

#Retrieve total number of students in each school
Total_Students = Grouped_SN.student_name.count()

#Calculate budget per student
PSB = Total_Budget/Total_Students

#Average math score
Average_Math_Score = Grouped_SN.math_score.sum()/Total_Students

#Average reading score
Average_Reading_Score = Grouped_SN.reading_score.sum()/Total_Students

#Passing math score
passing_data = combined_data.loc[(combined_data["math_score"] >=70)]
passing_data = passing_data.groupby("School_Name")
Passing_Math_Percent = (passing_data.math_score.count()/Total_Students) * 100

#Passing reading score
passing_data2 = combined_data.loc[combined_data["reading_score"] >=70]
passing_data2 = passing_data2.groupby("School_Name")
Passing_Reading_Percent = (passing_data2.reading_score.count()/Total_Students) * 100

#Passing both score
passing_data3 = combined_data.loc[(combined_data["math_score"] >=70) & (combined_data["reading_score"] >=70)]
passing_data3 = passing_data3.groupby("School_Name")
Passing_Both_Percent = (passing_data3.math_score.count()/Total_Students) * 100

#Dataframe for results
School_Summary_DF = pd.DataFrame({"Type":School_Type,"Total Students":Total_Students, 
                                 "Total Budget":Total_Budget,"Per Student Budget":PSB, "Average Math Score":Average_Math_Score, 
                                 "Average Reading Score":Average_Reading_Score,"% Passing Math":Passing_Math_Percent, 
                                 "% Passing Reading":Passing_Reading_Percent,
                                 "% Overall Passing Rate":Passing_Both_Percent}) 
#Formatting results
School_Summary_DF["Total Students"] = School_Summary_DF["Total Students"].map("{:,}".format)
School_Summary_DF["Total Budget"] = School_Summary_DF["Total Budget"].map("${:,}".format)
School_Summary_DF["Average Math Score"] = School_Summary_DF["Average Math Score"].map("{:.2f}".format)
School_Summary_DF["Average Reading Score"] = School_Summary_DF["Average Reading Score"].map("{:.2f}".format)
School_Summary_DF["% Passing Math"] = School_Summary_DF["% Passing Math"].map("{:.2f}%".format)
School_Summary_DF["% Passing Reading"] = School_Summary_DF["% Passing Reading"].map("{:.2f}%".format)
School_Summary_DF["% Overall Passing Rate"] = School_Summary_DF["% Overall Passing Rate"].map("{:.2f}%".format)
School_Summary_DF["Per Student Budget"] = School_Summary_DF["Per Student Budget"].map("${:.2f}".format)

School_Summary_DF

,Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School_Name,,,,,,,,,
Bailey High School,[District],"4,976","$3,124,928.0",$628.00,77.05,81.03,66.68%,81.93%,54.64%
Cabrera High School,[Charter],"1,858","$1,081,356.0",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Figueroa High School,[District],"2,949","$1,884,411.0",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Ford High School,[District],"2,739","$1,763,916.0",$644.00,77.10,80.75,68.31%,79.30%,54.29%
Griffin High School,[Charter],"1,468","$917,500.0",$625.00,83.35,83.82,93.39%,97.14%,90.60%
Hernandez High School,[District],"4,635","$3,022,020.0",$652.00,77.29,80.93,66.75%,80.86%,53.53%
Holden High School,[Charter],427,"$248,087.0",$581.00,83.80,83.81,92.51%,96.25%,89.23%
Huang High School,[District],"2,917","$1,910,635.0",$655.00,76.63,81.18,65.68%,81.32%,53.51%
Johnson High School,[District],"4,761","$3,094,650.0",$650.00,77.07,80.97,66.06%,81.22%,53.54%
Pena High School,[Charter],962,"$585,858.0",$609.00,83.84,84.04,94.59%,95.95%,90.54%
Rodriguez High School,[District],"3,999","$2,547,363.0",$637.00,76.84,80.74,66.37%,80.22%,52.99%
Shelton High School,[Charter],"1,761","$1,056,600.0",$600.00,83.36,83.73,93.87%,95.85%,89.89%
Thomas High School,[Charter],"1,635","$1,043,130.0",$638.00,83.42,83.85,93.27%,97.31%,90.95%
Wilson High School,[Charter],"2,283","$1,319,574.0",$578.00,83.27,83.99,93.87%,96.54%,90.58%
Wright High School,[Charter],"1,800","$1,049,400.0",$583.00,83.68,83.95,93.33%,96.61%,90.33%

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [ ]:
Top_Performing_School = School_Summary_DF.sort_values("% Overall Passing Rate", ascending=False)
Top_Performing_School.head()

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [ ]:
Bottom_Performing_School = School_Summary_DF.sort_values("% Overall Passing Rate", ascending=True)
Bottom_Performing_School.head()

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [16]:
#Calculate average math score for 9th grade
filter_ninth_grade=combined_data.loc[combined_data["grade"]=="9th"]
grouped_ninth_grade=filter_ninth_grade.groupby("School_Name")
Ninth_Average_Math_Score=grouped_ninth_grade.math_score.sum()/grouped_ninth_grade.student_name.count()

#Calculate average math score for 10th grade
filter_tenth_grade=combined_data.loc[combined_data["grade"]=="10th"]
grouped_tenth_grade=filter_tenth_grade.groupby("School_Name")
Tenth_Average_Math_Score=grouped_tenth_grade.math_score.sum()/grouped_tenth_grade.student_name.count()

#Calculate average math score for 11th grade
filter_eleventh_grade=combined_data.loc[combined_data["grade"]=="11th"]
grouped_eleventh_grade=filter_eleventh_grade.groupby("School_Name")
Eleventh_Average_Math_Score=grouped_eleventh_grade.math_score.sum()/grouped_eleventh_grade.student_name.count()

#Calculate average math score for 12th grade
filter_twelfth_grade=combined_data.loc[combined_data["grade"]=="12th"]
grouped_twelfth_grade=filter_twelfth_grade.groupby("School_Name")
Twelfth_Average_Math_Score=grouped_twelfth_grade.math_score.sum()/grouped_twelfth_grade.student_name.count()

#Dataframe for results
Math_Scores_by_Grade_DF = pd.DataFrame({"9th Grade":Ninth_Average_Math_Score,
                                        "10th Grade":Tenth_Average_Math_Score, 
                                        "11th Grade":Eleventh_Average_Math_Score,
                                        "12th Grade":Twelfth_Average_Math_Score}) 

#Formatting results
Math_Scores_by_Grade_DF["9th Grade"] = Math_Scores_by_Grade_DF["9th Grade"].map("{:.2f}".format)
Math_Scores_by_Grade_DF["10th Grade"] = Math_Scores_by_Grade_DF["10th Grade"].map("{:.2f}".format)
Math_Scores_by_Grade_DF["11th Grade"] = Math_Scores_by_Grade_DF["11th Grade"].map("{:.2f}".format)
Math_Scores_by_Grade_DF["12th Grade"] = Math_Scores_by_Grade_DF["12th Grade"].map("{:.2f}".format)

Math_Scores_by_Grade_DF

                      9th Grade 10th Grade 11th Grade 12th Grade
School_Name
Bailey High School        77.08      77.00      77.52      76.49
Cabrera High School       83.09      83.15      82.77      83.28
Figueroa High School      76.40      76.54      76.88      77.15
Ford High School          77.36      77.67      76.92      76.18
Griffin High School       82.04      84.23      83.84      83.36
Hernandez High School     77.44      77.34      77.14      77.19
Holden High School        83.79      83.43      85.00      82.86
Huang High School         77.03      75.91      76.45      77.23
Johnson High School       77.19      76.69      77.49      76.86
Pena High School          83.63      83.37      84.33      84.12
Rodriguez High School     76.86      76.61      76.40      77.69
Shelton High School       83.42      82.92      83.38      83.78
Thomas High School        83.59      83.09      83.50      83.50
Wilson High School        83.09      83.72      83.20      83.04
Wright High School        83.26      84.01      83.84      83.64

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [17]:
#Calculate average reading score for 9th grade
#filter_ninth_grade=combined_data.loc[combined_data["grade"]=="9th"]
#grouped_ninth_grade=filter_ninth_grade.groupby("School_Name")
Ninth_Average_Reading_Score=grouped_ninth_grade.reading_score.sum()/grouped_ninth_grade.student_name.count()

#Calculate average reading  score for 10th grade
#filter_tenth_grade=combined_data.loc[combined_data["grade"]=="10th"]
#grouped_tenth_grade=filter_tenth_grade.groupby("School_Name")
Tenth_Average_Reading_Score=grouped_tenth_grade.reading_score.sum()/grouped_tenth_grade.student_name.count()

#Calculate average reading  score for 11th grade
#filter_eleventh_grade=combined_data.loc[combined_data["grade"]=="11th"]
#grouped_eleventh_grade=filter_eleventh_grade.groupby("School_Name")
Eleventh_Average_Reading_Score=grouped_eleventh_grade.reading_score.sum()/grouped_eleventh_grade.student_name.count()

#Calculate average reading  score for 12th grade
#filter_twelfth_grade=combined_data.loc[combined_data["grade"]=="12th"]
#grouped_twelfth_grade=filter_twelfth_grade.groupby("School_Name")
Twelfth_Average_Reading_Score=grouped_twelfth_grade.reading_score.sum()/grouped_twelfth_grade.student_name.count()

#Dataframe for results
Math_Scores_by_Grade_DF = pd.DataFrame({"9th Grade":Ninth_Average_Math_Score,
                                        "10th Grade":Tenth_Average_Math_Score, 
                                        "11th Grade":Eleventh_Average_Math_Score,
                                        "12th Grade":Twelfth_Average_Math_Score}) 

#Formatting results
Math_Scores_by_Grade_DF["9th Grade"] = Math_Scores_by_Grade_DF["9th Grade"].map("{:.2f}".format)
Math_Scores_by_Grade_DF["10th Grade"] = Math_Scores_by_Grade_DF["10th Grade"].map("{:.2f}".format)
Math_Scores_by_Grade_DF["11th Grade"] = Math_Scores_by_Grade_DF["11th Grade"].map("{:.2f}".format)
Math_Scores_by_Grade_DF["12th Grade"] = Math_Scores_by_Grade_DF["12th Grade"].map("{:.2f}".format)

Math_Scores_by_Grade_DF

                      9th Grade 10th Grade 11th Grade 12th Grade
School_Name
Bailey High School        77.08      77.00      77.52      76.49
Cabrera High School       83.09      83.15      82.77      83.28
Figueroa High School      76.40      76.54      76.88      77.15
Ford High School          77.36      77.67      76.92      76.18
Griffin High School       82.04      84.23      83.84      83.36
Hernandez High School     77.44      77.34      77.14      77.19
Holden High School        83.79      83.43      85.00      82.86
Huang High School         77.03      75.91      76.45      77.23
Johnson High School       77.19      76.69      77.49      76.86
Pena High School          83.63      83.37      84.33      84.12
Rodriguez High School     76.86      76.61      76.40      77.69
Shelton High School       83.42      82.92      83.38      83.78
Thomas High School        83.59      83.09      83.50      83.50
Wilson High School        83.09      83.72      83.20      83.04
Wright High School        83.26      84.01      83.84      83.64

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [32]:
Per_School_Spending_DF=School_Summary_DF.loc[:,["Per Student Budget","Average Math Score","Average Reading Score", 
                          "% Passing Math", "% Passing Reading","% Overall Passing Rate"]]
Per_School_Spending_DF["Per Student Budget"].max()

578-655

'$655.00'

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type