### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [6]:
# Dependencies and Setup
import pandas as pd

# File to Load 
school_data = "Resources/schools_complete.csv"
student_data = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data)
student_data = pd.read_csv(student_data)

# Combine the data into a single dataset.  
combined_data = pd.merge(student_data, school_data, how="left", on=["school_name"])
combined_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [72]:
#Calculate total number of unique schools
Total_Schools = len(combined_data.school_name.unique())
#Calculate total number of students
Total_Students = combined_data.student_name.count()
#Calculate total budget
Unique_Budget = combined_data.budget.unique()
Total_Budget = Unique_Budget.sum()
#Calculate the average math score
Average_Math = combined_data.math_score.mean()
#Calculate the average reading score
Average_Reading = combined_data.reading_score.mean()
#Calculate the %tage of students w/ a passing math score
Passing_Math_df = combined_data.loc[combined_data["math_score"] >= 70]
Passing_Math_Percent = (Passing_Math_df.math_score.count()/Total_Students)*100
#Calculate the %tage of students w/ a passing reading score
Passing_Reading_df = combined_data.loc[combined_data["reading_score"] >= 70]
Passing_Reading_Percent = (Passing_Reading_df.reading_score.count()/Total_Students)*100
#Calculate the %tage of students who passed both math and reading
Passing_Both_df = combined_data.loc[(combined_data["reading_score"] >= 70) & (combined_data["math_score"] >= 70)]
Passing_Both_Percent = (Passing_Both_df.reading_score.count()/Total_Students)*100
District_Summary_DF = pd.DataFrame({"Total_Schools":Total_Schools, "Total_Students":Total_Students, 
                                 "Total_Budget":Total_Budget, "Average_Math":Average_Math, 
                                 "Average_Reading":Average_Reading,"Passing_Math_Percentage":Passing_Math_Percent, 
                                 "Passing_Reading_Percentage":Passing_Reading_Percent,
                                 "Passing_Both_Percentage":Passing_Both_Percent}, index=[0]) 
#Formatting results
District_Summary_DF["Total_Students"] = District_Summary_DF["Total_Students"].map("{:,}".format)
District_Summary_DF["Total_Budget"] = District_Summary_DF["Total_Budget"].map("${:,}".format)
District_Summary_DF["Average_Math"] = District_Summary_DF["Average_Math"].map("{:.2f}".format)
District_Summary_DF["Average_Reading"] = District_Summary_DF["Average_Reading"].map("{:.2f}".format)
District_Summary_DF["Passing_Math_Percentage"] = District_Summary_DF["Passing_Math_Percentage"].map("{:.2f}%".format)
District_Summary_DF["Passing_Reading_Percentage"] = District_Summary_DF["Passing_Reading_Percentage"].map("{:.2f}%".format)
District_Summary_DF["Passing_Both_Percentage"] = District_Summary_DF["Passing_Both_Percentage"].map("{:.2f}%".format)
District_Summary_DF

,Total_Schools,Total_Students,Total_Budget,Average_Math,Average_Reading,Passing_Math_Percentage,Passing_Reading_Percentage,Passing_Both_Percentage
0,15,"39,170","$24,649,428",78.99,81.88,74.98%,85.81%,65.17%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type